/*  your css code here. If applicable */
.header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:1px;
}
#head1{
	text-align:middle
}
body{
	background-color:#f5f5f5;
}
.latest-news-section{
	background-color:white;
	width:150px;
	border-radius:10px;
	padding:1px;
}

.pictorial-news-section{
	background-color:white;
	width:150px;
	border-radius:10px;
	padding:1px;
	text-align:center;
}

.box1{
	background-color:white;
	width:150px;
	border-radius:10px;
	padding:1px;
}
.container{
	display:flex;
	justify-content:space-around;
}
#img1{
	width:50%;
}
